@charset "UTF-8";
@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak Sans Bold.eot");
  src: local("☺"), url("../fonts/Kayak Sans Bold.woff") format("woff"), url("../fonts/Kayak Sans Bold.ttf") format("truetype"), url("../fonts/Kayak Sans Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak Sans Light.eot");
  src: local("☺"), url("../fonts/Kayak Sans Light.woff") format("woff"), url("../fonts/Kayak Sans Light.ttf") format("truetype"), url("../fonts/Kayak Sans Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak Sans Regular.eot");
  src: local("☺"), url("../fonts/Kayak Sans Regular.woff") format("woff"), url("../fonts/Kayak Sans Regular.ttf") format("truetype"), url("../fonts/Kayak Sans Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ofont.ru_Proxima Nova.eot");
  src: local("☺"), url("../fonts/ofont.ru_Proxima Nova.woff") format("woff"), url("../fonts/ofont.ru_Proxima Nova.ttf") format("truetype"), url("../fonts/ofont.ru_Proxima Nova.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "KayakSans";
}

.header {
  max-width: 1570px;
  min-height: 550px;
  margin: 0 auto;
  padding: 0px 0px;
  position: relative;
  background: url("../img/bkgheader/bgheader.png") 100% 0/80% auto no-repeat;
  background-color: #f4f5f7;
}
@media (max-width: 768px) {
  .header {
    background: url("../img/bkgheader/bgheader.png") 100% 0/80% auto no-repeat;
    background-color: #f4f5f7;
    min-height: 365px;
  }
}
@media (max-width: 425px) {
  .header {
    background: url("../img/bkgheader/bgheader.png") 100% 0/80% auto no-repeat;
    background-color: #f4f5f7;
    min-height: 200px;
  }
}
.header::after {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4f5f7;
  position: absolute;
  bottom: 1px;
  left: 0;
  transform: translateY(100%);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
}
@media (max-width: 425px) {
  .header::after {
    -webkit-clip-path: polygon(100% 0, 0% 50%, 0 0);
            clip-path: polygon(100% 0, 0% 50%, 0 0);
  }
}

.button-signUp-wrap {
  display: flex;
  justify-content: flex-end;
}

.button-signUp {
  margin: 5% 5% 0px 0px;
}

.signUp {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 15px;
  background-color: #6ece0f;
}
@media (max-width: 768px) {
  .signUp {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .signUp {
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 5px;
  }
}

.page-love {
  margin: 0 auto;
  padding: 2% 0px 0px 5%;
}
@media (max-width: 768px) {
  .page-love {
    padding: 0 0 0 2%;
  }
}
.page-love__text {
  margin: 0 auto;
  color: #000000;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
}
@media (max-width: 768px) {
  .page-love__text {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 425px) {
  .page-love__text {
    font-size: 15px;
    line-height: 20px;
  }
}
.page-love__text p {
  opacity: 0.8;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  line-height: 70px;
}
@media (max-width: 768px) {
  .page-love__text p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 425px) {
  .page-love__text p {
    font-size: 10px;
    line-height: 10px;
  }
}
.page-love__text span {
  color: #5fb709;
}
@media (max-width: 768px) {
  .page-love__button {
    padding: 5px 0px;
  }
}
@media (max-width: 425px) {
  .page-love__button {
    padding: 5px 0px;
  }
}
.page-love__button a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 50px;
  border-radius: 15px;
  background-color: #6ece0f;
}
@media (max-width: 768px) {
  .page-love__button a {
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .page-love__button a {
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 5px;
  }
}

.page-findfood {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding: 5% 0;
}
@media (max-width: 768px) {
  .page-findfood {
    font-size: 15px;
    margin: 0px 20px 0px 0px;
  }
}

.findfood {
  max-width: 1570px;
  min-height: 750px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  background: url("../img/findfood/burger.png") 17% 40%/77% auto no-repeat;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .findfood {
    background: url("../img/findfood/burger.png") 10% 40%/70% auto no-repeat;
    min-height: 450px;
    padding: 0px 0px 0px 100px;
  }
}
@media (max-width: 425px) {
  .findfood {
    background: url("../img/findfood/burger.png") 10% 40%/70% auto no-repeat;
    min-height: 250px;
    padding: 15px 15px 0px 0px;
  }
}
.findfood__content {
  padding: 15% 0px 0px 400px;
}
@media (max-width: 768px) {
  .findfood__content {
    width: 500px;
    padding: 120px 0px 0px 80px;
  }
}
@media (max-width: 425px) {
  .findfood__content {
    width: 400px;
    padding: 50px 0px 0px 120px;
  }
}
.findfood__text {
  padding: 0px 0px 35px 0px;
  margin: 0 auto;
  color: #000000;
  font-size: 55px;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  .findfood__text {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 425px) {
  .findfood__text {
    font-size: 15px;
    line-height: 13px;
    padding: 0px 0px 15px 0px;
  }
}
.findfood__text span {
  color: #5fb709;
}
.findfood__form {
  display: flex;
}
@media (max-width: 425px) {
  .findfood__form {
    justify-content: center;
  }
}
.findfood__input {
  flex: 0 1 auto;
}
.findfood__input .input {
  width: 100%;
  height: 70px;
  border: 1px solid #abaaaa;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  padding: 0px 10px;
  color: #585858;
  font-size: 22px;
  font-weight: 400;
}
.findfood__input .input.focus {
  color: black;
}
@media (max-width: 768px) {
  .findfood__input .input {
    width: 99%;
    height: 50px;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 10px;
    padding: 0px 5px;
  }
}
@media (max-width: 425px) {
  .findfood__input .input {
    width: 99%;
    height: 30px;
    font-size: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
  }
}
.findfood__button {
  flex: 0 1 auto;
  padding: 0px 0px 0px 10px;
}
@media (max-width: 768px) {
  .findfood__button {
    height: 50px;
    padding: 0px 0px 0px 5px;
  }
}
@media (max-width: 425px) {
  .findfood__button {
    height: 30px;
    padding: 0px 0px 0px 0px;
  }
}
.findfood__btn {
  width: 200px;
  height: 70px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px;
  background-color: #5fb709;
}
@media (max-width: 768px) {
  .findfood__btn {
    height: 50px;
    width: 170px;
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .findfood__btn {
    height: 30px;
    width: 80px;
    font-size: 15px;
    border-radius: 7px;
  }
}

.favourites {
  max-width: 1570px;
  min-height: 750px;
  margin: 0 auto;
  padding: 10% 15px;
  background: url("../img/favourites/favouritesAll1.png") 0 -10%/100% auto no-repeat;
  background-color: #f4f5f7;
  position: relative;
  z-index: 2;
  top: 0;
}
@media (max-width: 768px) {
  .favourites {
    background: url("../img/favourites/favouritesAll1.png") 0 30%/90% auto no-repeat;
    background-color: #f4f5f7;
    min-height: 400px;
  }
}
@media (max-width: 425px) {
  .favourites {
    background: url("../img/favourites/favouritesAll1.png") 0 30%/100% auto no-repeat;
    background-color: #f4f5f7;
    min-height: 250px;
  }
}

.favourites::before {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4f5f7;
  position: absolute;
  top: 1px;
  left: 0;
  transform: translateY(-100%);
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
@media (max-width: 425px) {
  .favourites::before {
    -webkit-clip-path: polygon(100% 50%, 0 100%, 100% 100%);
            clip-path: polygon(100% 50%, 0 100%, 100% 100%);
  }
}

.favourites::after {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4f5f7;
  position: absolute;
  bottom: 1px;
  left: 0;
  transform: translateY(100%);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
}
@media (max-width: 425px) {
  .favourites::after {
    -webkit-clip-path: polygon(100% 0, 0% 50%, 0 0);
            clip-path: polygon(100% 0, 0% 50%, 0 0);
  }
}

.page-favourites {
  margin: 0 auto;
  padding: 50px 0px 0px 50px;
}
@media (max-width: 768px) {
  .page-favourites {
    padding: 50px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .page-favourites {
    padding: 0px 0px 0px 0px;
  }
}
.page-favourites__text {
  margin: 0 auto;
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
}
@media (max-width: 768px) {
  .page-favourites__text {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 425px) {
  .page-favourites__text {
    font-size: 16px;
    line-height: 20px;
    padding: 25px 0px 0px 0px;
  }
}
@media (max-width: 375px) {
  .page-favourites__text {
    font-size: 15px;
    line-height: 20px;
    padding: 25px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .page-favourites__text {
    font-size: 13px;
    line-height: 18px;
    padding: 25px 0px 0px 0px;
  }
}
.page-favourites__text p {
  opacity: 0.8;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 70px;
}
.page-favourites__text span {
  color: #5fb709;
}
@media (max-width: 425px) {
  .page-favourites__button {
    padding: 7px 0px 0px 0px;
  }
}
.page-favourites__button a {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  padding: 20px 50px;
  border-radius: 15px;
  background-color: #6ece0f;
}
@media (max-width: 768px) {
  .page-favourites__button a {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .page-favourites__button a {
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 7px;
  }
}

.uber {
  max-width: 1570px;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  margin: 0 auto;
  background: url("../img/uber/9-layers.png") 100% -30%/100% auto no-repeat;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .uber {
    padding: 120px 0px 0px 180px;
    min-height: 450px;
    background: url("../img/uber/9-layers.png") 0 -100%/95% auto no-repeat;
  }
}
@media (max-width: 425px) {
  .uber {
    padding: 70px 0px 0px 90px;
    min-height: 250px;
    background: url("../img/uber/9-layers.png") 0 -150%/95% auto no-repeat;
  }
}
@media (max-width: 375px) {
  .uber {
    padding: 0px 0px 50px 70px;
  }
}
@media (max-width: 320px) {
  .uber {
    background: url("../img/uber/9-layers.png") 0 320%/100% auto no-repeat;
  }
}

.page-uber {
  margin: 50px 0 0 200px;
}
@media (max-width: 768px) {
  .page-uber {
    margin: 0 50px 60px 0;
  }
}
@media (max-width: 425px) {
  .page-uber {
    margin: 0 auto;
  }
}
.page-uber__text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}
@media (max-width: 768px) {
  .page-uber__text {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 425px) {
  .page-uber__text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 375px) {
  .page-uber__text {
    font-size: 15px;
    line-height: 20px;
  }
}
.page-uber__text span {
  color: #5fb709;
}
.page-uber__form {
  display: flex;
}

.restaurant {
  max-width: 1570px;
  min-height: 750px;
  margin: 0 auto;
  background: url("../img/restaurant/restaurant.png") 0 50%/100% auto no-repeat;
  background-color: #f4f5f7;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .restaurant {
    min-height: 450px;
    background: url("../img/restaurant/restaurant.png") 0 50%/100% auto no-repeat;
    background-color: #f4f5f7;
  }
}
@media (max-width: 425px) {
  .restaurant {
    min-height: 250px;
    background: url("../img/restaurant/restaurant.png") 0 50%/100% auto no-repeat;
    background-color: #f4f5f7;
  }
}

.restaurant::before {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4f5f7;
  position: absolute;
  top: 1px;
  left: 0;
  transform: translateY(-100%);
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
@media (max-width: 425px) {
  .restaurant::before {
    -webkit-clip-path: polygon(100% 50%, 0 100%, 100% 100%);
            clip-path: polygon(100% 50%, 0 100%, 100% 100%);
  }
}

.restaurant::after {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4f5f7;
  position: absolute;
  bottom: 1px;
  left: 0;
  transform: translateY(100%);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
}
@media (max-width: 425px) {
  .restaurant::after {
    -webkit-clip-path: polygon(100% 0, 0% 50%, 0 0);
            clip-path: polygon(100% 0, 0% 50%, 0 0);
  }
}

.page-restaurant__text {
  display: flex;
  justify-content: flex-start;
  padding: 17% 0px 0px 8%;
  margin: 0 auto;
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  .page-restaurant__text {
    font-size: 30px;
    line-height: 40px;
    padding: 130px 0px 0px 20px;
  }
}
@media (max-width: 425px) {
  .page-restaurant__text {
    font-size: 16px;
    line-height: 20px;
    padding: 80px 0px 0px 20px;
  }
}
@media (max-width: 375px) {
  .page-restaurant__text {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .page-restaurant__text {
    font-size: 12px;
  }
}
.page-restaurant__text span {
  color: #5fb709;
}
.page-restaurant__form {
  display: flex;
}

.app {
  max-width: 1570px;
  min-height: 800px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  background: url("../img/app/8-layers.png") 0 50%/100% auto no-repeat;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .app {
    min-height: 500px;
    background: url("../img/app/8-layers.png") 0 50%/100% auto no-repeat;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .app {
    min-height: 350px;
    background: url("../img/app/8-layers.png") 0 50%/100% auto no-repeat;
    padding: 0px 0px 0px 0px;
  }
}

.app-conteiner {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 0 5px 0 0;
  padding: 270px 0px 0px 0px;
}
@media (max-width: 768px) {
  .app-conteiner {
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }
}
.app-conteiner__item {
  display: flex;
  width: 650px;
  height: 350px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .app-conteiner__item {
    width: 350px;
  }
}
@media (max-width: 425px) {
  .app-conteiner__item {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .app-button__uber img {
    width: 70px;
    margin: 100px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .app-button__uber img {
    width: 45px;
    margin: 140px 0px 0px 0px;
  }
}
.app-button__text {
  padding: 0px 0px 0px 7%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  .app-button__text {
    font-size: 27px;
    line-height: 25px;
    margin: 100px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .app-button__text {
    font-size: 20px;
    line-height: 20px;
    margin: 140px 0px 0px 0px;
  }
}
.app-button__text span {
  color: #5fb709;
}
@media (max-width: 768px) {
  .app-button__google img {
    width: 150px;
    margin: 0px 0px 100px 0px;
  }
}
@media (max-width: 425px) {
  .app-button__google img {
    width: 100px;
    margin: 0px 0px 100px 0px;
  }
}
.app-button__appstore {
  padding: 0px 0px 0px 7%;
}
@media (max-width: 768px) {
  .app-button__appstore {
    padding: 0px 0px 0px 10px;
  }
  .app-button__appstore img {
    width: 150px;
    margin: 0px 0px 100px 0px;
  }
}
@media (max-width: 425px) {
  .app-button__appstore {
    padding: 0px 0px 0px 10px;
  }
  .app-button__appstore img {
    width: 100px;
    margin: 0px 0px 100px 0px;
  }
}

.deliver {
  max-width: 1570px;
  min-height: 550px;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #f4f5f7;
  position: relative;
  z-index: 10;
}
@media (max-width: 768px) {
  .deliver {
    min-height: 450px;
  }
}
@media (max-width: 425px) {
  .deliver {
    min-height: 350px;
  }
}

.deliver::before {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4f5f7;
  position: absolute;
  top: 1px;
  left: 0;
  transform: translateY(-100%);
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
@media (max-width: 425px) {
  .deliver::before {
    -webkit-clip-path: polygon(100% 50%, 0 100%, 100% 100%);
            clip-path: polygon(100% 50%, 0 100%, 100% 100%);
  }
}

.deliver-container {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .deliver-container {
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .deliver-container {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
  }
}
.deliver-container__itemleft {
  flex-direction: column;
  padding: 0px 50px 0px 0px;
  display: flex;
  max-width: 500px;
  max-height: 400px;
  flex-wrap: wrap;
}
.deliver-container__itemleft img {
  width: 100px;
}
@media (max-width: 768px) {
  .deliver-container__itemleft {
    padding: 0px 0px 20px 0px;
  }
  .deliver-container__itemleft img {
    width: 50px;
  }
}
@media (max-width: 425px) {
  .deliver-container__itemleft {
    padding: 0px 0px 20px 0px;
    max-width: 300px;
  }
  .deliver-container__itemleft img {
    height: 40px;
  }
}
.deliver-container__itemright {
  flex-direction: column;
  max-width: 500px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid black;
  padding: 0px 0px 0px 50px;
}
.deliver-container__itemright img {
  height: 70px;
}
@media (max-width: 768px) {
  .deliver-container__itemright {
    padding: 20px 0px 0px 0px;
    border: none;
  }
  .deliver-container__itemright img {
    height: 40px;
  }
}
@media (max-width: 425px) {
  .deliver-container__itemright {
    padding: 10px 0px 0px 0px;
    border: none;
    border-top: 1px solid rgba(70, 69, 69, 0.33);
    max-width: 300px;
  }
  .deliver-container__itemright img {
    height: 40px;
  }
}

.deliver-restaurant__img {
  padding: 0px 0px 15px 0px;
}
.deliver-restaurant__title {
  color: #5fb709;
  font-family: "KayakSans";
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 768px) {
  .deliver-restaurant__title {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .deliver-restaurant__title {
    font-size: 17px;
  }
}
.deliver-restaurant__subtitel {
  padding: 15px 0px 0px 0px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .deliver-restaurant__subtitel {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .deliver-restaurant__subtitel {
    font-size: 10px;
    line-height: 15px;
    padding: 5px 0px 0px 0px;
  }
}
.deliver-restaurant__btn {
  padding: 50px 0px 0px 0px;
}
@media (max-width: 768px) {
  .deliver-restaurant__btn {
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .deliver-restaurant__btn {
    padding: 10px 0px 0px 0px;
  }
}
.deliver-restaurant__btn a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 54px;
  border-radius: 15px;
  background-color: #6ece0f;
}
@media (max-width: 768px) {
  .deliver-restaurant__btn a {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .deliver-restaurant__btn a {
    font-size: 13px;
    padding: 7px 15px;
    border-radius: 7px;
  }
}

.deliver-eats__img {
  padding: 0px 0px 15px 0px;
}
.deliver-eats__title {
  color: #5fb709;
  font-family: "KayakSans";
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 768px) {
  .deliver-eats__title {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .deliver-eats__title {
    font-size: 17px;
  }
}
.deliver-eats__subtitel {
  padding: 20px 0px 0px 0px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .deliver-eats__subtitel {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .deliver-eats__subtitel {
    font-size: 10px;
    line-height: 15px;
    padding: 5px 0px 0px 0px;
  }
}
.deliver-eats__btn {
  padding: 50px 0px 0px 0px;
}
@media (max-width: 768px) {
  .deliver-eats__btn {
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .deliver-eats__btn {
    padding: 10px 0px 0px 0px;
  }
}
.deliver-eats__btn a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 54px;
  border-radius: 15px;
  background-color: #6ece0f;
}
@media (max-width: 768px) {
  .deliver-eats__btn a {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .deliver-eats__btn a {
    font-size: 13px;
    padding: 7px 15px;
    border-radius: 7px;
  }
}

.footer {
  max-width: 1570px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #262626;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .footer {
    min-height: 120px;
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .footer {
    min-height: 115px;
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 375px) {
  .footer {
    min-height: 100px;
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .footer {
    min-height: 100px;
    padding: 10px 0px 0px 0px;
  }
}

.footer-content {
  text-align: left;
  display: flex;
  flex: 0 1 auto;
  max-width: 100%;
  color: #ffffff;
}
.footer-content__languige {
  padding: 10px 10px 0px 0px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #3d3d3d;
}
.footer-content__languige select {
  font-size: 18px;
}
.footer-content__languige img {
  width: 27px;
}
@media (max-width: 768px) {
  .footer-content__languige select {
    font-size: 18px;
    padding: 0px 0px 0px 0px;
  }
  .footer-content__languige img {
    width: 25px;
  }
}
@media (max-width: 375px) {
  .footer-content__languige select {
    font-size: 15px;
    padding: 0px 0px 0px 0px;
  }
  .footer-content__languige img {
    width: 20px;
  }
}
.footer-content__blok {
  min-width: 140px;
  padding: 0px 0px 0px 0px;
  padding: 0px 5px;
}
.footer-content__blok2 {
  flex-basis: 23%;
  padding: 0px 20px;
  font-family: "KayakSans";
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
}
.footer-content__blok2 a {
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer-content__blok2 {
    display: none;
  }
}
.footer-content__blok3 {
  flex-basis: 23%;
  padding: 0px 20px;
  font-family: "KayakSans";
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
}
.footer-content__blok3 a {
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer-content__blok3 {
    display: none;
  }
}
.footer-content__blok4 {
  flex-basis: 23%;
  padding: 0px 20px;
  font-family: "KayakSans";
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
}
.footer-content__blok4 a {
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer-content__blok4 {
    display: none;
  }
}
.footer-content__blok5 {
  display: flex;
  flex-direction: column;
  width: 264px;
  padding: 15px 10px 0px 5px;
}
@media (max-width: 768px) {
  .footer-content__blok5 {
    font-size: 18px;
    line-height: 25px;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .footer-content__blok5 {
    font-size: 18px;
    line-height: 25px;
    padding: 5px 0px 0px 0px;
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .footer-content__blok5 {
    font-size: 15px;
  }
}
.footer-content__item {
  display: flex;
  flex-wrap: wrap;
}
.footer-content__text {
  padding: 0px 0px 20px 0px;
}
@media (max-width: 425px) {
  .footer-content__text {
    padding: 0px 0px 0px 0px;
  }
}
.footer-content__google {
  padding: 0px 10px 20px 0px;
}
@media (max-width: 768px) {
  .footer-content__google {
    padding: 0px 5px 0px 0px;
  }
  .footer-content__google img {
    width: 100px;
  }
}
@media (max-width: 425px) {
  .footer-content__google {
    padding: 0px 5px 0px 0px;
  }
  .footer-content__google img {
    width: 70px;
  }
}
@media (max-width: 375px) {
  .footer-content__google {
    padding: 0px 0px 0px 0px;
  }
  .footer-content__google img {
    width: 70px;
  }
}
@media (max-width: 768px) {
  .footer-content__appstore img {
    width: 100px;
  }
}
@media (max-width: 425px) {
  .footer-content__appstore {
    padding: 0px 5px 0px 0px;
  }
  .footer-content__appstore img {
    width: 70px;
  }
}
@media (max-width: 375px) {
  .footer-content__appstore {
    padding: 0px 0px 0px 0px;
  }
  .footer-content__appstore img {
    width: 70px;
  }
}

.social img {
  width: 40px;
  padding: 0px 0px;
}
@media (max-width: 768px) {
  .social img {
    width: 40px;
    padding: 0px 0px;
  }
}
@media (max-width: 320px) {
  .social img {
    width: 30px;
    padding: 0px 0px;
  }
}

.blackcolor {
  background-color: #262626;
  color: white;
}

.blackcolor:hover {
  box-shadow: 0px 5px 10px white;
}