@font-face {
	font-family: 'KayakSans';
	src: url('../fonts/Kayak Sans Bold.eot');
	src: local('☺'), url('../fonts/Kayak Sans Bold.woff') format('woff'), url('../fonts/Kayak Sans Bold.ttf') format('truetype'), url('../fonts/Kayak Sans Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'KayakSans';
	src: url('../fonts/Kayak Sans Light.eot');
	src: local('☺'), url('../fonts/Kayak Sans Light.woff') format('woff'), url('../fonts/Kayak Sans Light.ttf') format('truetype'), url('../fonts/Kayak Sans Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'KayakSans';
	src: url('../fonts/Kayak Sans Regular.eot');
	src: local('☺'), url('../fonts/Kayak Sans Regular.woff') format('woff'), url('../fonts/Kayak Sans Regular.ttf') format('truetype'), url('../fonts/Kayak Sans Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ofont.ru_Proxima Nova.eot');
	src: local('☺'), url('../fonts/ofont.ru_Proxima Nova.woff') format('woff'), url('../fonts/ofont.ru_Proxima Nova.ttf') format('truetype'), url('../fonts/ofont.ru_Proxima Nova.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}