@import "_fonts.scss";
@import "_nullstyle.scss";


body {
	font-family: 'KayakSans';
}
.header {
	max-width: 1570px;
	min-height: 800px;
	margin: 0 auto;
	padding: 0px 15px;
	background: url('../img/bkgheader/bgheader.png') 100% 0/100% auto no-repeat, url('../img/bgall.png') 100% 150%/100% 120% no-repeat;
		@media (max-width:768px){
			background: url('../img/bkgheader/bgheader.png') 100% 0/100% auto no-repeat, url('../img/bgall.png') 100% 150%/100% 120% no-repeat;
			min-height: 450px;
		}
			@media (max-width:425px){
			background: url('../img/bkgheader/bgheader.png') 100% 0/100% auto no-repeat, url('../img/bgall.png') 100% 130%/100% 120% no-repeat;
			min-height: 200px;
			}

	&__content {
	}
}
.button-signUp-wrap {
	display: flex;
	justify-content: flex-end;
}
.button-signUp {
	margin: 5% 5% 0px 0px;
}
.signUp {
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
	padding: 20px 54px;
	border-radius: 15px;
	background-color: #6ece0f;
	@media (max-width:768px){
		font-size: 15px;
		padding: 10px 25px;
		border-radius: 10px;
	}
		@media (max-width:425px){
		font-size: 10px;
		padding: 5px 15px;
		border-radius: 5px;
		}
}

.page-love {
	margin: 0 auto;
	padding: 2% 0px 0px 5%;
	@media (max-width:768px){
		padding: 0;
	}

	&__text {
	margin: 0 auto;
	color: #000000;
	font-size: 50px;
	font-weight: 700;
	line-height: 70px;
	text-align: left;
	@media (max-width:768px){
		font-size: 25px;
		line-height: 40px;
	}
	@media (max-width:425px){
		font-size: 15px;
		line-height: 20px;
	}
	}
	&__text p {
	opacity: 0.8;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	line-height: 70px;
	@media (max-width:768px){
		font-size: 15px;
		line-height: 25px;
	}
	@media (max-width:425px){
		font-size: 10px;
		line-height: 10px;
	}
	}
	&__text span {
		color: #5fb709;
	}

	&__button {
		@media (max-width:768px){
			padding: 10px 0px;
		}
		@media (max-width:425px){
			padding: 5px 0px;
		}
	}
	&__button a {
		color: #ffffff;
		font-size: 25px;
		font-weight: 700;
		padding: 20px 54px;
		border-radius: 15px;
		background-color: #6ece0f;
		@media (max-width:768px){
			font-size: 20px;
			padding: 10px 25px;
			border-radius: 10px;
		}
		@media (max-width:768px){
			font-size: 10px;
			padding: 5px 15px;
			border-radius: 5px;
		}
	}
}
.love-button {
}

.page-findfood {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	padding: 5% 0;
	z-index: 1;
			@media (max-width:768px){
			font-size: 15px;
			margin: 0px 20px 0px 0px;
		}
}
.findfood {
	max-width: 1390px;
	min-height: 650px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: left;
	background: url('../img/findfood/burger.png') 50% 0/100% auto no-repeat;
	position: relative;
	z-index: 1;
		@media (max-width:768px){
			background: url('../img/findfood/burger.png') 10% 0/70% auto no-repeat;
			min-height: 450px;
			padding: 0px 0px 0px 100px;
		}
		@media (max-width:425px){
			background: url('../img/findfood/burger.png') 20% 0/80% auto no-repeat;
			min-height: 350px;
			padding: 0px 0px 0px 0px;
		}

	&__content {
		padding: 15% 0px 0px 400px;
			@media (max-width:768px){
				width: 500px;
				padding: 50px 0px 0px 80px;
			}
			@media (max-width:425px){
				width: 400px;
				padding: 50px 0px 0px 120px;
			}
	}

	&__text {
		padding: 0px 0px 35px 0px;
		margin: 0 auto;
		color: #000000;
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		@media (max-width:768px){
			font-size: 30px;
			line-height: 30px;
		}
		@media (max-width:425px){
			font-size: 13px;
			line-height: 13px;
			padding: 0px 0px 15px 0px;
		}
	}
	&__text span {
		color: #5fb709;
	}

	&__form {
		display: flex;
			@media (max-width:425px){
				justify-content: center;
			}
	}

	&__input {
		flex: 0 1 auto;
		padding: 0px 10px 0px 0px;
		.input{
			width: 100%;
			height: 70px;
			border: 1px solid #abaaaa;
			background-color: #ffffff;
			border-radius: 15px;
			padding: 0px 28px;
			color: #585858;
			font-size: 20px;
			font-weight: 400;
			&.focus{
				color: black;
			}
			@media (max-width:768px){
				width: 99%;
				height: 50px;
				font-size: 15px;
				padding: 10px 25px;
				border-radius: 10px;
				padding: 0px 5px 0px 0px;
			}
			@media (max-width:425px){
				width: 99%;
				height: 30px;
				font-size: 8px;
				padding: 10px 25px;
				border-radius: 10px;
				padding: 0px 5px 0px 5px;
			}
		}
	}

	&__button {
		flex: 0 1 auto;
		padding: 0px 0px 0px 10px;
			@media (max-width:768px){
				height: 50px;
				padding: 0px 0px 0px 5px;
			}
			@media (max-width:425px){
				height: 30px;
				padding: 0px 0px 0px 0px;
			}
	}

	&__btn {
		width: 200px;
		height: 70px;
		color: white;
		font-size: 23px;
		font-weight: 700;
		border-radius: 15px;
		background-color: #5fb709;
		@media (max-width:768px){
			height: 50px;
			width: 170px;
			font-size: 20px;
		}
		@media (max-width:425px){
			height: 30px;
			width: 80px;
			font-size: 10px;
			border-radius: 5px;
		}
	}
}

.favourites {
	max-width: 1570px;
	min-height: 1000px;
	margin: 0 auto;
	padding: 10% 15px;
	background: url('../img/favourites/favouritesAll1.png') 100% 50%/100% auto no-repeat, url('../img/bgall.png') 100% 0/100% 100% no-repeat;
	position: relative;
	z-index: 2;
	top: -10%;
		@media (max-width:768px){
			top: -25%;
			background: url('../img/favourites/favouritesAll1.png') 40% 60%/100% auto no-repeat, url('../img/bgall.png') 100% 0/100% 100% no-repeat;
			min-height: 630px;
		}
		@media (max-width:425px){
			top: -30%;
			background: url('../img/favourites/favouritesAll1.png') 30% 60%/110% auto no-repeat, url('../img/bgall.png') 100% 0/100% 100% no-repeat;
			min-height: 350px;
		}
	
}
.page-favourites {
	margin: 0 auto;
	padding: 15% 0px 0px 5%;
		@media (max-width:768px){
			padding: 15% 0px 0px 0px;
		}
		@media (max-width:425px){
			padding: 50px 0px 0px 0px;
		}

		&__text {
			margin: 0 auto;
			color: #000000;
			font-size: 50px;
			font-weight: 700;
			line-height: 70px;
			text-align: left;
			@media (max-width:768px){
				font-size: 30px;
				line-height: 40px;
				padding: 50px 0px 0px 0px;
			}
			@media (max-width:425px){
				font-size: 16px;
				line-height: 20px;
				padding: 25px 0px 0px 0px;
			}
		}
		&__text p {
			opacity: 0.8;
			color: #000000;
			font-size: 21px;
			font-weight: bold;
			line-height: 70px;
			}
			&__text span {
				color: #5fb709;
			}

		&__button {
				@media (max-width:425px){
					padding: 7px 0px 0px 0px;
				}
		}
		&__button a {
			color: #ffffff;
			font-size: 25px;
			font-weight: 700;
			padding: 20px 54px;
			border-radius: 15px;
			background-color: #6ece0f;
			@media (max-width:768px){
				font-size: 20px;
				padding: 10px 25px;
				border-radius: 10px;
			}
			@media (max-width:425px){
				font-size: 15px;
				padding: 5px 15px;
				border-radius: 7px;
			}
		}
}
.favourites-button {
}

.uber {
	max-width: 1570px;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	margin: 0 auto;
	background: url('../img/uber/9-layers.png') 100% 0/100% auto no-repeat;
	position: relative;
	z-index: 1;
	top: -20%;
		@media (max-width:768px){
			padding: 120px 0px 0px 180px;
			min-height: 350px;
		}
		@media (max-width:425px){
			padding: 70px 0px 0px 90px;
			min-height: 300px;
			top: -30%;
		}
}
.page-uber {


	&__text {
		display: flex;
		justify-content: center;
		padding: 250px 0px 0px 350px;
		margin: 0 auto;
		color: #000000;
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		@media (max-width:768px){
			font-size: 30px;
			line-height: 40px;
			padding: 0px 0px 0px 0px;
		}
		@media (max-width:425px){
			font-size: 18px;
			line-height: 20px;
			padding: 0px 0px 0px 0px;
		}
	}
	&__text span {
		color: #5fb709;
	}
	&__form {
		display: flex;
	}
}

.restaurant {
	max-width: 1570px;
	min-height: 1000px;
	margin: 0 auto;
	padding: 10% 15px;
	background: url('../img/restaurant/restaurant.png') 100% 50%/100% auto no-repeat, url('../img/bgall.png') 100% 0/100% 100% no-repeat;
	position: relative;
	z-index: 2;
	top: -30%;
		@media (max-width:768px){
			min-height: 650px;
			background: url('../img/restaurant/restaurant.png') 50% 50%/120% auto no-repeat, url('../img/bgall.png') 100% 0/100% 100% no-repeat;
		}
		@media (max-width:425px){
			min-height: 425px;
			background: url('../img/restaurant/restaurant.png') 60% 50%/125% auto no-repeat, url('../img/bgall.png') 100% 0/100% 100% no-repeat;
			top: -45%;
		}
}
.page-restaurant {

	&__text {
		display: flex;
		justify-content: flex-start;
		padding: 17% 0px 0px 8%;
		margin: 0 auto;
		color: #000000;
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
			@media (max-width:768px){
				font-size: 30px;
				line-height: 40px;
				padding: 150px 0px 0px 0px;
			}
			@media (max-width:425px){
				font-size: 16px;
				line-height: 20px;
				padding: 130px 0px 0px 0px;
			}
	}
	&__text span {
		color: #5fb709;
	}
	&__form {
		display: flex;
	}
}

.app {
	max-width: 1570px;
	min-height: 800px;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	padding: 13% 10% 0px 0px;
	background: url('../img/app/8-layers.png') 100% 50%/100% auto no-repeat;
	position: relative;
	z-index: 1;
	top: -40%;
		@media (max-width:768px){
			min-height: 500px;
			background: url('../img/app/8-layers.png') 50% 50%/120% auto no-repeat;
			padding: 0px 0px 0px 0px;
		}
		@media (max-width:425px){
			min-height: 300px;
			background: url('../img/app/8-layers.png') 50% 50%/120% auto no-repeat;
			padding: 0px 0px 0px 0px;
			top: -55%;
		}
}
.app-conteiner {
	display: flex;
	flex-direction: column;
	flex: 0 1 50%;
	padding: 5% 0;
		@media (max-width:768px){
			justify-content: center;
		}

		&__item {
			display:flex;
			width: 650px;
			height: 350px;
			flex-wrap:wrap;
				@media (max-width:768px){
					width: 350px;
				}
				@media (max-width:425px){
					width: 250px;
				}
		}
}
.app-button {
	

		&__uber {
				@media (max-width:768px){
				img {
					width: 50px;
					margin: 100px 0px 0px 0px;
				}
				}
				@media (max-width:425px){
					img {
						width: 35px;
						margin: 140px 0px 0px 0px;
					}
					}
		}

		&__text {
			padding: 0px 0px 0px 7%;
			color: #000000;
			font-size: 40px;
			font-weight: 700;
			line-height: 50px;
				@media (max-width:768px){
					font-size: 25px;
					line-height: 25px;
					margin: 100px 0px 0px 0px;
				}
				@media (max-width:425px){
					font-size: 17px;
					line-height: 20px;
					margin: 140px 0px 0px 0px;
				}
		}
		&__text span {
			color: #5fb709;
		}

		&__google {
			@media (max-width:768px){
				img {
					width: 100px;
					margin: 0px 0px 100px 0px;
				}
				}
		}

		&__appstore {
			padding: 0px 0px 0px 7%;
			@media (max-width:768px){
				padding: 0px 0px 0px 10px;
				img {
					width: 100px;
					margin: 0px 0px 100px 0px;
				}
				}
		}
}

.deliver {
	max-width: 1570px;
	min-height: 800px;
	display: flex;
	flex: 0 1 auto;
	justify-content: space-evenly;
	margin: 0 auto;
	// padding: 13% 10% 0px 0px;
	background: url('../img/bgall.png') 100% 0/100% 100% no-repeat;
	position: relative;
	z-index: 2;
	top: -40%;
		@media (max-width:768px){
			top: -50%;
			min-height: 650px;
		}
		@media (max-width:425px){
			top: -65%;
			min-height: 550px;
		}
}
.deliver-container {
	display: flex;
	// flex-direction: column;
	flex: 0 1 auto;
	padding: 5% 0px 0px 18%;
	margin: 10% 0px 0px 0px;
	flex-wrap:wrap;
		@media (max-width:768px){
			padding: 0px 0px 0px 0px;
			margin: 110px 50px 0px 50px;
			flex-direction: column;
		}
			@media (max-width:425px){
				margin: 110px 50px 0px 50px;
			}

		&__itemleft {
			flex-direction: column;
			padding: 0px 50px 0px 0px;
			display: flex;
			max-width: 420px;
			max-height: 400px;
			flex-wrap: wrap;
			@media (max-width:768px){
				padding: 0px 0px 0px 0px;
				img {
					width: 50px;
				}
			}
			
		}

		&__itemright {
			flex-direction: column;
			max-width: 455px;
			max-height: 400px;
			display: flex;
			flex-wrap: wrap;
			border-left: 1px solid black;
			padding: 0px 0px 0px 50px;
				@media (max-width:768px){
					padding: 20px 0px 0px 0px;
					border: none;
					img {
						height: 40px;
					}
				}
		}
}
.deliver-restaurant {

		&__img {
			padding: 0px 0px 15px 0px;
		}

		&__title {
		color: #5fb709;
		font-family: "KayakSans";
		font-size: 30px;
		font-weight: 700;
		text-align: left;
			@media (max-width:768px){
				font-size: 22px;
			}
			@media (max-width:425px){
				font-size: 17px;
			}
		}

		&__subtitel {
			padding: 20px 0px 0px 0px;
			line-height: 30px;
			font-size: 20px;
			font-weight: 400;
			@media (max-width:768px){
				font-size: 13px;
				line-height: 20px;
				padding: 10px 0px 0px 0px;
			}
			@media (max-width:425px){
				font-size: 10px;
				line-height: 15px;
				padding: 5px 0px 0px 0px;
			}
		}

		&__btn {
			padding: 50px 0px 0px 0px;
				@media (max-width:768px){
					padding: 20px 0px 0px 0px;
				}
				@media (max-width:425px){
					padding: 10px 0px 0px 0px;
				}
		}
		&__btn a {
			color: #ffffff;
			font-size: 23px;
			font-weight: 700;
			padding: 20px 54px;
			border-radius: 15px;
			background-color: #6ece0f;
			@media (max-width:768px){
				font-size: 20px;
				padding: 10px 25px;
				border-radius: 10px;
			}
			@media (max-width:425px){
				font-size: 13px;
				padding: 7px 15px;
				border-radius: 7px;
			}
		}
}

.deliver-eats {

	&__img {
		padding: 0px 0px 15px 0px;
	}

	&__title {
		color: #5fb709;
		font-family: "KayakSans";
		font-size: 30px;
		font-weight: 700;
		text-align: left;
		@media (max-width:768px){
			font-size: 22px;
		}
		@media (max-width:425px){
			font-size: 17px;
		}
	}

	&__subtitel {
		padding: 20px 0px 0px 0px;
		line-height: 30px;
		font-size: 20px;
		font-weight: 400;
		@media (max-width:768px){
			font-size: 13px;
			line-height: 20px;
			padding: 10px 0px 0px 0px;
		}
		@media (max-width:425px){
			font-size: 10px;
			line-height: 15px;
			padding: 5px 0px 0px 0px;
		}
	}

	&__btn {
		padding: 50px 0px 0px 0px;
		@media (max-width:768px){
			padding: 20px 0px 0px 0px;
		}
		@media (max-width:425px){
			padding: 10px 0px 0px 0px;
		}
	}
	&__btn a {
		color: #ffffff;
		font-size: 23px;
		font-weight: 700;
		padding: 20px 54px;
		border-radius: 15px;
		background-color: #6ece0f;
		@media (max-width:768px){
			font-size: 20px;
			padding: 10px 25px;
			border-radius: 10px;
		}
		@media (max-width:425px){
			font-size: 13px;
			padding: 7px 15px;
			border-radius: 7px;
		}
	}
}

.footer {
	max-width: 1570px;
	min-height: 400px;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 100px 0px 0px 0px;
	background-color: #262626;
	position: relative;
	z-index: 3;
	top: -57%;
		@media (max-width:768px){
			min-height: 120px;
			padding: 10px 0px 0px 0px;
			top: -75%;
		}
		@media (max-width:425px){
			min-height: 115px;
			padding: 10px 0px 0px 0px;
			top: -85%;
		}
}
.footer-content {
	text-align: left;
	display: flex;
	flex: 0 1 auto;
	flex-basis:80%;
	justify-content: space-evenly;
	color: #ffffff;

		&__languige {
			padding: 10px 10px 0px 0px;
			margin: 0px 0px 10px 0px;
			border-bottom: 1px solid#3d3d3d;
			select {
				font-size: 18px;
			}
				@media (max-width:768px){
					select {
						font-size: 10px;
						padding: 0px 0px 0px 0px;
					}
					img {
						width: 15px;
					}
				}
		}
		&__blok {
			min-width: 140px;
			padding: 0px 0px 0px 0px;
			padding: 0px 5px;
		}

		&__blok2 {
			flex-basis:23%;
			padding: 0px 20px;
			font-family: "KayakSans";
			font-size: 15px;
			font-weight: 300;
			line-height: 40px;
			a {
				color: #ffffff;
			}
			@media (max-width:768px){
			 display: none;
			}
		}

		&__blok3 {
			flex-basis:23%;
			padding: 0px 20px;
			font-family: "KayakSans";
			font-size: 15px;
			font-weight: 300;
			line-height: 40px;
			a {
				color: #ffffff;
			}
			@media (max-width:768px){
				display: none;
			  }
		}

		&__blok4 {
			flex-basis:23%;
			padding: 0px 20px;
			font-family: "KayakSans";
			font-size: 15px;
			font-weight: 300;
			line-height: 40px;
			a {
				color: #ffffff;
			}
			@media (max-width:768px){
				display: none;
			  }
		}

		&__blok5 {
			flex-basis:30%;
			display: flex;
			flex-direction: column;
			width: 264px;
			padding: 15px 10px 0px 5px;
			@media (max-width:768px){
				font-size: 10px;
				line-height: 25px;
				padding: 0px 0px 0px 0px;
				flex-wrap: wrap;
				flex-basis: 35%;
			}
			@media (max-width:425px){
				font-size: 10px;
				line-height: 25px;
				padding: 5px 0px 0px 0px;
				flex-wrap: wrap;
				flex-basis: 40%;
			}
		}

		&__content {
		}

		&__item {
			display:flex;
			flex-wrap:wrap;
		}

		&__text {
			padding: 0px 0px 20px 0px;
				@media (max-width:425px){
					padding: 0px 0px 0px 0px;
				}
		}

		&__google {
			padding: 0px 10px 0px 0px;
			@media (max-width:768px){
				padding: 0px 5px 0px 0px;
				img {
					width: 100px;
				}
				}
				@media (max-width:425px){
					padding: 0px 5px 0px 0px;
					img {
						width: 70px;
					}
					}
		}

		&__appstore {
			@media (max-width:768px){
				img {
					width: 100px;
				}
				}
				@media (max-width:425px){
					padding: 0px 5px 0px 0px;
					img {
						width: 70px;
					}
					}
		}
}
.languige {
}
.social {
		@media (max-width:768px){
			img {
				padding: 0px 8px;
			}
		}
}
.blackcolor {
	background-color: #262626;
	color: white;
}
.blackcolor:hover {
	box-shadow: 0px 5px 10px rgb(255, 255, 255);
}
